PORT=3001
MONGO_URI= 'mongodb://localhost:27017/TutorMecatronica'
JWT_SECRET='d04c1334ca8b4ac765b203e32d3fbe96c300163b754ebe4b001f42e21e1f33e9'
JWT_EXPIRES_IN=7d

# AI (optional)
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

